In [1]:
print("hello")

hello

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection  import train_test_split,cross_val_score
from sklearn.metrics import accuracy_score,r2_score
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import Ridge,Lasso,LogisticRegression,LinearRegression

In [3]:
dataset=pd.read_csv("diabetes.csv")

In [4]:
dataset.head()

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,bp.2s,bp.2d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.31,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,NaN,NaN,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.44,Buckingham,29,female,64.0,218.0,large,112.0,68.0,NaN,NaN,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.64,Buckingham,58,female,61.0,256.0,large,190.0,92.0,185.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.63,Buckingham,67,male,67.0,119.0,large,110.0,50.0,NaN,NaN,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.72,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,NaN,NaN,44.0,41.0,300.0

In [5]:
dataset.isnull().sum()

id            0
chol          1
stab.glu      0
hdl           1
ratio         1
glyhb        13
location      0
age           0
gender        0
height        5
weight        1
frame        12
bp.1s         5
bp.1d         5
bp.2s       262
bp.2d       262
waist         2
hip           2
time.ppn      3
dtype: int64

In [6]:
dataset.shape

(403, 19)

In [7]:
dataset.drop(columns=["bp.2s","bp.2d"],axis=1,inplace=True)

In [8]:
dataset.head()

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.31,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.44,Buckingham,29,female,64.0,218.0,large,112.0,68.0,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.64,Buckingham,58,female,61.0,256.0,large,190.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.63,Buckingham,67,male,67.0,119.0,large,110.0,50.0,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.72,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,44.0,41.0,300.0

In [9]:
dataset.describe()

,id,chol,stab.glu,hdl,ratio,glyhb,age,height,weight,bp.1s,bp.1d,waist,hip,time.ppn
count,403.000000,402.000000,403.000000,402.000000,402.000000,390.000000,403.000000,398.000000,402.000000,398.000000,398.000000,401.000000,401.000000,400.000000
mean,15978.310174,207.845771,106.672457,50.445274,4.521642,5.589769,46.851117,66.020101,177.592040,136.904523,83.321608,37.900249,43.039900,341.250000
std,11881.122124,44.445557,53.076655,17.262626,1.727886,2.242595,16.312333,3.918515,40.340666,22.741033,13.589227,5.729313,5.656713,309.540953
min,1000.000000,78.000000,48.000000,12.000000,1.500000,2.680000,19.000000,52.000000,99.000000,90.000000,48.000000,26.000000,30.000000,5.000000
25%,4792.500000,179.000000,81.000000,38.000000,3.200000,4.380000,34.000000,63.000000,151.000000,121.250000,75.000000,33.000000,39.000000,90.000000
50%,15766.000000,204.000000,89.000000,46.000000,4.200000,4.840000,45.000000,66.000000,172.500000,136.000000,82.000000,37.000000,42.000000,240.000000
75%,20336.000000,230.000000,106.000000,59.000000,5.400000,5.600000,60.000000,69.000000,200.000000,146.750000,90.000000,41.000000,46.000000,517.500000
max,41756.000000,443.000000,385.000000,120.000000,19.299999,16.110001,92.000000,76.000000,325.000000,250.000000,124.000000,56.000000,64.000000,1560.000000

In [10]:
dataset.dropna(axis=0, inplace=True)

In [11]:
dataset.isnull().sum()

id          0
chol        0
stab.glu    0
hdl         0
ratio       0
glyhb       0
location    0
age         0
gender      0
height      0
weight      0
frame       0
bp.1s       0
bp.1d       0
waist       0
hip         0
time.ppn    0
dtype: int64

In [12]:
dataset.shape

(366, 17)

In [13]:
dataset["location"].value_counts()

location
Louisa        191
Buckingham    175
Name: count, dtype: int64

In [14]:
dataset['gender'].value_counts()

gender
female    214
male      152
Name: count, dtype: int64

In [15]:
dataset["frame"].value_counts()

frame
medium    172
small      98
large      96
Name: count, dtype: int64

In [16]:
dataset["location"].replace({"Buckingham": 0, "Louisa": 1}, inplace=True)
dataset["gender"].replace({"female": 2, "male": 3}, inplace=True)
dataset["frame"].replace({"small": 4, "medium":45 , "large":6}, inplace=True)

In [17]:
dataset.head()

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip,time.ppn
0,1000,203.0,82,56.0,3.6,4.31,0,46,2,62.0,121.0,45,118.0,59.0,29.0,38.0,720.0
1,1001,165.0,97,24.0,6.9,4.44,0,29,2,64.0,218.0,6,112.0,68.0,46.0,48.0,360.0
2,1002,228.0,92,37.0,6.2,4.64,0,58,2,61.0,256.0,6,190.0,92.0,49.0,57.0,180.0
3,1003,78.0,93,12.0,6.5,4.63,0,67,3,67.0,119.0,6,110.0,50.0,33.0,38.0,480.0
4,1005,249.0,90,28.0,8.9,7.72,0,64,3,68.0,183.0,45,138.0,80.0,44.0,41.0,300.0

In [18]:
X=dataset.drop("glyhb",axis=1)
X=dataset.drop("id",axis=1)

In [19]:
sc=StandardScaler()
scaled_dataset=sc.fit_transform(X)

In [20]:
X = pd.DataFrame(scaled_dataset, columns=X.columns)

In [21]:
X.head()

,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip,time.ppn
0,-0.101715,-0.470266,0.334979,-0.532993,-0.582263,-1.044715,-0.042475,-0.842781,-1.044677,-1.405769,1.061325,-0.831107,-1.786743,-1.539631,-0.896897,1.228074
1,-0.965889,-0.192657,-1.534138,1.345469,-0.523915,-1.044715,-1.087056,-0.842781,-0.529031,0.981926,-0.890408,-1.091465,-1.126708,1.390802,0.878464,0.067556
2,0.466820,-0.285193,-0.774809,0.947007,-0.434149,-1.044715,0.694876,-0.842781,-1.302500,1.917312,-0.890408,2.293191,0.633385,1.907937,2.476290,-0.512703
3,-2.944391,-0.266686,-2.235057,1.117777,-0.438638,-1.044715,1.247890,1.186547,0.244439,-1.455000,-0.890408,-1.178251,-2.446778,-0.850118,-0.896897,0.454395
4,0.944390,-0.322208,-1.300499,2.483930,0.948241,-1.044715,1.063552,1.186547,0.502262,0.120387,1.061325,0.036754,-0.246661,1.046045,-0.364289,-0.125864

In [22]:
X.describe()

,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip,time.ppn
count,3.660000e+02,366.000000,3.660000e+02,3.660000e+02,3.660000e+02,3.660000e+02,3.660000e+02,3.660000e+02,3.660000e+02,3.660000e+02,3.660000e+02,3.660000e+02,3.660000e+02,3.660000e+02,3.660000e+02,3.660000e+02
mean,-2.426717e-16,0.000000,4.853434e-18,2.256847e-16,7.280151e-18,3.882747e-17,1.164824e-16,-2.669389e-17,6.867609e-16,3.348869e-16,3.033396e-18,-4.368091e-16,3.712877e-16,4.125419e-16,5.083972e-16,1.941374e-17
std,1.001369e+00,1.001369,1.001369e+00,1.001369e+00,1.001369e+00,1.001369e+00,1.001369e+00,1.001369e+00,1.001369e+00,1.001369e+00,1.001369e+00,1.001369e+00,1.001369e+00,1.001369e+00,1.001369e+00,1.001369e+00
min,-2.944391e+00,-1.099511,-2.235057e+00,-1.728378e+00,-1.313852e+00,-1.044715e+00,-1.701516e+00,-8.427813e-01,-3.622908e+00,-1.947308e+00,-9.904967e-01,-2.046111e+00,-2.593452e+00,-2.056767e+00,-2.317186e+00,-1.076844e+00
25%,-6.475089e-01,-0.488773,-7.163993e-01,-7.606853e-01,-5.452343e-01,-1.044715e+00,-7.798263e-01,-8.427813e-01,-7.868537e-01,-6.673063e-01,-9.904967e-01,-6.900794e-01,-6.133475e-01,-8.501177e-01,-7.193609e-01,-7.907440e-01
50%,-9.034429e-02,-0.322208,-2.491199e-01,-1.914545e-01,-3.354070e-01,9.571992e-01,-1.039209e-01,-8.427813e-01,-1.338426e-02,-1.011519e-01,-8.904078e-01,-5.003239e-02,-9.998706e-02,-1.606039e-01,-1.867525e-01,-3.192834e-01
75%,4.838763e-01,0.010922,5.102091e-01,4.916227e-01,1.019066e-02,9.571992e-01,8.177684e-01,1.186547e+00,7.600852e-01,5.388489e-01,1.061325e+00,4.706838e-01,6.333850e-01,6.581936e-01,5.233921e-01,4.543954e-01
max,5.356224e+00,5.137425,4.073214e+00,8.403931e+00,4.713910e+00,9.571992e-01,2.784039e+00,1.186547e+00,2.564847e+00,3.615775e+00,1.061325e+00,4.896772e+00,2.980175e+00,3.114586e+00,3.719043e+00,3.935950e+00

In [23]:
Y=dataset["glyhb"]

In [24]:
Y.head()

0    4.31
1    4.44
2    4.64
3    4.63
4    7.72
Name: glyhb, dtype: float64

In [25]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [26]:
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(292, 16) (74, 16) (292,) (74,)

In [27]:
classo1=RandomForestRegressor()

In [28]:
classo1.fit(X_train,Y_train)

RandomForestRegressor()

In [32]:
train_predictions=classo1.predict(X_train)
r2_score(train_predictions,Y_train)

0.9986776979505501

In [33]:
test_predictions=classo1.predict(X_test)
r2_score(test_predictions,Y_test)

0.9945347131396436